

#surveybot-button {
	float: left;
	display: inline-block;
	text-align: center;
	position: relative;
}
a {

}
#div2 {
	padding:5px;
	background-color: blue; 
}

#div2 img {
	width:80%;
}

.button-variation-1{

width: 80%;
	height: 40%;
	/*background: url(img/button-icons-1.svg) top center no-repeat;*/
	background-size: 100% auto;
	text-indent:-999999px;
	color:transparent;
	float:left;
	cursor:pointer;
	margin-left: 25px;
}
.button-variation-1-v{
	width: 80%;
	height: 65%;
	background: url(img/button-icons-11.png) top center no-repeat;
	background-size: 100% auto;
	text-indent:-999999px;
	color:transparent;
	float:left;
	cursor:pointer;
	margin-left: 25px;
	height: 350px;
}
.button-variation-2{


width: 80%;
	height: 40%;
	background: url(img/button-icons-2.svg) top center no-repeat;
	background-size: 100% auto;
	text-indent:-999999px;
	color:transparent;
	float:left;
	cursor:pointer;
	margin-left: 25px;
}
.button-variation-2-v{
	width: 80%;
	height: 65%;
	background: url(img/button-icons-2-v.png) top center no-repeat;
	background-size: 100% auto;
	text-indent:-999999px;
	color:transparent;
	float:left;
	cursor:pointer;
	margin-left: 25px;
	
}
.button-variation-3{


width: 80%;
	height: 40%;
	background: url(img/button-icons-3.svg) top center no-repeat;
	background-size: 100% auto;
	text-indent:-999999px;
	color:transparent;
	float:left;
	cursor:pointer;
	margin-left: 30px;
}

#Layer_1 {
    width: 95% !important;
    height: 90% !important;
    /*margin-top: 15px; */
}
#Layer_1_v {
    width: 95%;
    height: 95%; 
	margin-top: 15%;
	margin-bottom: 15%;
}
#surveybot-link {
    background: none;
    width: 85%;
	
}
#naslov {
	
	color: black;
	margin-top: 15px;
}
#Layer_1_h {
    width: 95%;
	height : 95%;
}	
#Layer_4{
    width: 100%;
	height : 90%;
	
	margin-right: 5px;
}	
#Layer_1_butt{
	width : 60%;
}
button {
    background-color: #e95e58;
    border: 2px solid #3c3c3b;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-size: 19px;
}
